.Danpin{
	height:100vh;
	display: flex;
	flex-direction: column;
	
}
section{
	flex: 1;
	overflow: auto;
		
}
header{
	height:9vh;
	background:#61DAFB;
}
ul li{
	height:20vh;
	border-bottom:1px solid #61DAFB;
}