.j-gh{
	height:9vh;
	border-bottom:1px solid #000;
	text-align: center;
	line-height: 9vh;
}
.Guwen{
	height:100vh;
	display: flex;
	
	flex-direction: column;	
}
.j-gs{
	flex: 1;
	overflow: auto;
	
}
.j-gh span:nth-child(1){
	font-size:9vw;
	position: absolute;
	top:-0.4vh;
	left:1vw;
}
.j-gh span:nth-child(2){
	font-size:5vw;
}
.j-gu li{
	height:30vh;
}
