

.Login{
    height: 100vh;
}
.z-head{
    height: 9vh;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 9vh;
    position: relative;
}
.z-head span{
    position: absolute;
    left: 3vh;
}
.z-login{
    flex: 1;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.z-login nav{

    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    justify-content: center;
    align-items: center
}

.z-login nav h2{
    font-size: 4vh;
}
.z-login input{
    border: none;
    outline: none;
    width: 40vh;
    height: 100%;
    margin-left: 4vw;
    color: #b3b3b3;
}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}
.z-login .zhang{
    width: 90%;
    height: 5vh;
    border-bottom: 1px solid #ccc;
    padding: 2vh 0
}


.z-login .mima{
    width: 90%;
    height: 5vh;
    border-bottom: 1px solid #ccc;
    padding: 2vh 0
}
.z-login span{
    padding: 0 0 0 2vw;
    color: #5a5a5a;
}
.z-login .btn{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 7vh;
}

.z-login .btn button{
    width: 40vw;
    height: 6vh;
    border-radius: 5px;
    outline: none
}
.z-login .btn button:first-child{
    background: white;
    border: 1px solid #ccc
}

.z-login .btn button:last-child{
    background: #999;
    border: 1px solid #ccc;
    color: white
}